*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

header{
    padding: 2%; /*Cuida do preenchimento */
    background-color: rgb(56, 49, 49); /*Cor de fundo do nosso cabeçalho header */
    align-items: center; /*Alinhar os itens do nosso header para o centro*/
    justify-content: space-evenly; /*Tradução: justificar conteudo: espaço uniformemente. Alinhar os itens igualmente dentro da pagina */
    overflow: hidden; /* hidden = se o texto for maior que o espaço do meu header ele é cortado e não é exibido na tela */
}

header img{
    width:  18rem;
    height:  15rem;
}

header h1{
    color: aliceblue;
    font-size: 2.5rem;
}

#menu-header{ /*nav*/
    display: flex; /*coloca os itens lado a lado*/
    align-items: center; /*alinha os itens no centro*/
}